.introPic {
  max-width: 100%;
  height: auto;
}

.row {
  margin: 0 48px;
  align-items: center;
}

.desc1 h1 {
  color: #fff89a;
  font-family: "surround";
  font-size: 60px;
  /* display: flex; */
  align-items: center;
}

.desc2 {
  color: #fff89a;
  font-family: "surroundAir";
}

.line {
  border: 3px solid #fff89a;
  margin: 130px 0;
}

.footer {
  padding: 50px;
  text-align: center;
  font-size: 20px;
  color: var(--dark);
  margin: 30px;
}

.pxpx {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

@font-face {
  font-family: "surround";
  src: url(../fonts/Cafe24Ssurround.ttf);
}

@font-face {
  font-family: "surroundAir";
  src: url(../fonts/Cafe24SsurroundAir.ttf);
}

@font-face {
  font-family: "ROKA";
  src: url(../fonts/ROKABold.ttf);
}
