.navbar {
  background-color: transparent;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* z-index: 15; */
  font-family: "Oregano", cursive;
  border: none;
  padding: 1vw;
}

.left {
  display: flex;
  /* align-items: center; */
  /* flex: none; */
  /* margin: 10px 10px 8px; */
}

.title {
  color: #fff89a;
  font-size: 2.5rem;
  margin: auto 20px;
  text-decoration: none;
}

.title:hover {
  color: #f9b208;
}

@font-face {
  font-family: "surroundAir";
  src: url(../../fonts/Cafe24SsurroundAir.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
