.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  font-family: "surroundAir";
  border: none;
  padding: 1vw;
}

.left {
  display: flex;
  /* align-items: center; */
  /* flex: none; */
  /* margin: 10px 10px 8px; */
  font-family: "Oregano", cursive;
}

.right {
  display: flex;
  /* margin-left: auto; */
  /* flex-direction: row; */
  /* flex: none; */
  font-family: "Oregano", cursive;
}

.roomnamesearch {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.roomtagsearch {
  border-radius: 0.7rem;
  margin-left: 0.1vw;
  /* margin-right: 3px; */
  background-color: transparent;
  color: #fff89a;
  border: none;
  /* border-color: #fff89a; */
  font-weight: bold;
}

.title {
  color: #fff89a;
  font-size: 2.5rem;
  margin: auto 20px;
  text-decoration: none;
}

.title:hover {
  color: #f9b208;
}

.content {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff89a;
  font-size: 2rem;
  margin: auto 10px;
}

.content:hover {
  color: #f9b208;
}

@font-face {
  font-family: "surroundAir";
  src: url(../../fonts/Cafe24SsurroundAir.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@font-face {
  font-family: "yellowtail";
  src: url(../../fonts/Yellowtail-Regular.ttf);
}
