
/* My Page*/

/* 메뉴 */
.modalContent .modal-content{
    background-color:rgba(0, 0, 0, 0);
}

.createroombg {
    position: absolute;
    width: 60vw;
    height: 77vh;
    /* width: 58rem; */
    /* height: 34rem; */
    left: 0.9vw;
    top: 9vh;
    
    /* background: #ffcd438f; */
    background: #f9b108cb;
    /* background-color: rgba(0, 0, 0, 0); */
    /* background: rgba(228, 83, 21, 0.61); */
    border-radius: 2vw;
}

/* 본문 들어갈 부분 */

/* 북마크 제목 */
.Sh1 {
    position: absolute;
    width: 20vw;
    height: 10vh;
    /* width: 60rem; */
    /* height: 5rem; */
    left: 3vw;
    top: 6vh;

    font-weight: bold;
    font-family: 'Oregano', cursive;
    /* font-family: 'Cafe24SsurroundAir'; */
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    /* line-height: 58px; */
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/* 본문 테이블 */
.bigtable{
    display: flex;
    /* 가로 정렬 */
    justify-content: center;
     /*세로  */
     align-items: center;
     /* -> 가로세로 정중앙 */
}

.table{
    position: absolute;
    /* width: 60%; */
    width: 55vw;
    height: 55vh;
    /* left: 4%;
    top: 150%; */
    left: 2.7vw;
    top: 10vh;
    overflow-y: scroll;

    /* font-weight: bold; */
    /* font-family: 'Oregano', cursive; */
    /* font-family: 'Cafe24SsurroundAir'; */
    /* font-style: normal; */
    /* font-weight: normal; */
    /* font-size: 45px; */
    /* line-height: 58px; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */

    /* color: #FFFFFF; */
}

/* 테이블 헤더 글자 */
.tablehead{
    font-size: 1.3vw;
    font-family: 'Cafe24Ssurround';
    text-align: center;  
}

.tablebody{
    font-size: 1.05vw;
    font-family: 'Cafe24SsurroundAir';
    text-align: center;  
}

/* 폰트 */
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}