.itembg {
  height: 100vh;
  /* margin-top: -90.7px; */
  background-image: url(../../assets/login-background5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  position: relative;
  /* overflow: hidden; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: relative; */
  /* z-index: -100; */
  /* -webkit-box-pack: center; /
  justify-content: center;
  / -webkit-box-align: center; */
}

.temp {
  display: flex;
}

.logincontent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* top: 100vh; */
  /* padding-top: 300px; */
  /* left: 25vw; */
  /* text-align: center; */
  /* top: 35vh; */
}

.btnNotLoggedIn {
  border: 2px solid #ffce43;
  border-radius: 8px;
  background-color: transparent;
  padding: 12px 32px;
  margin: 20px;
  font-size: 1rem;
  transition-duration: 0.4s;
  font-family: "ROKA";
  color: #ffce43;
  /* position: relative; */
  /* z-index: 10; */
}

.btnNotLoggedIn:hover {
  background-color: #ffce43;
  color: white;
}

.btnLoggedIn {
  border: 2px solid black;
  border-radius: 8px;
  background-color: transparent;
  padding: 12px 32px;
  margin: 20px;
  font-size: 1rem;
  transition-duration: 0.4s;
  font-family: "ROKA";
  color: black;
}

.btnLoggedIn:hover {
  background-color: black;
  color: white;
}

.main {
  /* justify-content: center; */
  /* margin-top: 200; */
  color: #fff89a;
  font-family: "bi";
  font-size: 7rem;
  animation: flicker 2s infinite alternate;
  /* display: inline; */
  cursor: default;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #fff89a,
      0 0 80px #fff89a, 0 0 90px #fff89a, 0 0 100px #fff89a, 0 0 150px #fff89a;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@font-face {
  font-family: "Oregano";
  src: url("../../fonts/Oregano-Regular.ttf");
}

@font-face {
  font-family: "neon";
  src: url(../../fonts/mexcellent\ rg.otf), url(../../fonts/mexcellent\ rg.otf);
}

@font-face {
  font-family: "ROKA";
  src: url(../../fonts/ROKABold.ttf);
}

@font-face {
  font-family: "surround";
  src: url(../../fonts/Cafe24Ssurround.ttf);
}

@font-face {
  font-family: "surroundAir";
  src: url(../../fonts/Cafe24SsurroundAir.ttf);
}

@font-face {
  font-family: "yellowtail";
  src: url(../../fonts/Yellowtail-Regular.ttf);
}

@font-face {
  font-family: "bi";
  src: url(../../fonts/Aurach\ Bi.ttf);
}

@font-face {
  font-family: "tri";
  src: url(../../fonts/Aurach\ Tri.ttf);
}
