/* NicName */
.NicknameModal {
  position: absolute;
  width: 21.5vw;
  height: 13vh;
  left: -59.5vh;
  top: 54vh;

  background: #ffcd438f;
  /* background: rgba(228, 83, 21, 0.61); */
  border-radius: 1vw;
  font-family: "Cafe24SsurroundAir";
}

/* E-mail */
/* .E-mailModal{
    position: absolute;
    width: 1200px;
    height: 750px;
    left: -180px;
    top: -370px;
    
    background: #ffcd438f;
    border-radius: 30px;
} */

.EmailModal {
  position: absolute;
  width: 33vw;
  height: 11vh;
  left: -59.5vh;
  top: 73.7vh;

  background: rgba(255, 206, 67, 0.6);
  border: 0.8vh solid #ffce43;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  font-weight: bold;
  /* font-family: 'Oregano', cursive; */
  font-family: "Cafe24SsurroundAir";
  font-size: 1.2vw;
  text-align: center;
  padding: 0.5vh 0;
  color: white;
}

/* 폰트 */
@font-face {
  font-family: "ROKAFSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
