* {
    box-sizing: border-box;
  }
  
  main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
  }
  
  .star {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }