/* 분홍 */
.canPink{
    position: absolute;
    width: 130px;
    height: 209px;
    /* left: 50px; */
    /* top: 20px; */
    
    box-sizing: border-box;
    border-radius: 30px;   

    background: rgba(237, 137, 180, 0.3);
    border: 10px solid #ed89b4;
    box-shadow: 
        0 0 .15rem #ED89B5, 
        0 0 .15rem #ED89B5, 
        0 0 .15rem #ED89B5, 
        0 0 0.8rem #ED89B5, 
        0 0 2.3rem #ED89B5, 
        inset 0 0 0.8rem #ED89B5;
}

/* 노랑 */
.canY{
    position: absolute;
    width: 130px;
    height: 209px;
    /* left: 225px; */
    /* top: 20px; */
    
    box-sizing: border-box;
    border-radius: 30px;   

    background: rgba(244, 230, 104, 0.3);
    border: 10px solid #F4E668;
    box-shadow: 
        0 0 .15rem #F4E668, 
        0 0 .15rem #F4E668, 
        0 0 .15rem #F4E668, 
        0 0 0.8rem #F4E668, 
        0 0 2.3rem #F4E668, 
        inset 0 0 0.8rem #F4E668;
}

/* 보라 */
.canP{
    position: absolute;
    width: 130px;
    height: 209px;
    /* left: 400px; */
    /* top: 20px; */
    
    box-sizing: border-box;
    border-radius: 30px;   

    
    background: rgba(196, 69, 217, 0.3);
    border: 10px solid #C445D9;
    box-shadow: 
        0 0 .15rem #C445D9, 
        0 0 .15rem #C445D9, 
        0 0 .15rem #C445D9, 
        0 0 0.8rem #C445D9, 
        0 0 2.3rem #C445D9, 
        inset 0 0 0.8rem #C445D9;
}


/* 파랑 */
.canB{
    position: absolute;
    width: 130px;
    height: 209px;
    /* left: 575px; */
    /* top: 20px; */
    
    box-sizing: border-box;
    border-radius: 30px;   

    
   background: rgba(3, 129, 215, 0.3);
   border: 10px solid #0381D7;
   box-shadow: 
    0 0 .15rem #0381D7, 
    0 0 .15rem #0381D7, 
    0 0 .15rem #0381D7, 
    0 0 0.8rem #0381D7, 
    0 0 2.3rem #0381D7, 
    inset 0 0 0.8rem #0381D7;
}

/* 빨강 */
.canR{
    position: absolute;
    width: 130px;
    height: 209px;
    /* left: 750px; */
    /* top: 20px; */
    
    box-sizing: border-box;
    border-radius: 30px;   

   background: rgba(214, 25, 94, 0.3);
   border: 10px solid #D6195E;
   box-shadow: 
    0 0 .15rem #D6195E, 
    0 0 .15rem #D6195E, 
    0 0 .15rem #D6195E, 
    0 0 0.8rem #D6195E, 
    0 0 2.3rem #D6195E, 
    inset 0 0 0.8rem #D6195E;
}

/* 남색 */
.canN{
    position: absolute;
    width: 130px;
    height: 209px;
    /* left: 925px; */
    /* top: 20px; */
    
    box-sizing: border-box;
    border-radius: 30px;   

   background: rgba(14, 56, 146, 0.3);
   border: 10px solid #0E3892;
   box-shadow: 
    0 0 .15rem #0E3892, 
    0 0 .15rem #0E3892, 
    0 0 .15rem #0E3892, 
    0 0 0.8rem #0E3892, 
    0 0 2.3rem #0E3892, 
    inset 0 0 0.8rem #0E3892;
}

/* 연파랑 */
.canBB{
    position: absolute;
    width: 130px;
    height: 209px;
    /* left: 1100px; */
    /* top: 20px; */
    
    box-sizing: border-box;
    border-radius: 30px;   
 
   background: rgba(117, 183, 236, 0.3);
   border: 10px solid #75B7EC;
   box-shadow: 
    0 0 .15rem #75B7EC,
    0 0 .15rem #75B7EC, 
    0 0 .15rem #75B7EC, 
    0 0 0.8rem #75B7EC, 
    0 0 2.3rem #75B7EC, 
    inset 0 0 0.8rem #75B7EC;
}
