
/* My Page랑 My Video 공통 틀 */

/* 메뉴 */
.menu {
    position: absolute;
    width: 384px;
    height: 389.24px;
    left: 100px;
    top: 261.76px;

    background: #FFCE43;
    border-radius: 60px;
}

/* 메뉴 삼각형 */
.desk {
    position: absolute;
    width: 382px;
    height: 120px;
    left: 100px;
    top: 42px;

    border: 5px solid #FFCE43;
}

.menut {
    position: absolute;
    /* width: 61.11px; */
    /* height: 55.45px; */
    width: 0px;
    height: 0px;
    left: 180px;
    top: 168px;
    /* background: #FFCE43; */
    border-bottom: 50px solid transparent;
    border-top: 50px solid #FFCE43;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    -webkit-transform: rotate(180deg);
}

/* 로비로 나가는 버튼 */
.backbtn{
    position: absolute;
    /* width: 129.08px;
    height: 134.5px; */
    width: 0px;
    height: 0px;
    left: 30px;
    top: 900px;

    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 80px solid #FFCE43;
    border-right: 80px solid transparent;

    background: none;
    transform: rotate(180deg);
}

/* 본문 들어갈 부분 */
.body {
    position: absolute;
    width: 1308px;
    height: 808px;
    left: 800px;
    top: 154px;

    border: 8px solid #FFCE43;
    box-sizing: border-box;
    border-radius: 60px;
}

/* 본문에 들어갈 마이페이지 글씨 사이즈 */
.Mh1 {
    position: absolute;
    width: 269px;
    height: 80px;
    left: 90px;
    top: 20px;

    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-family: 'Cafe24SsurroundAir';
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 본문에 들어갈 북마크 글씨 사이즈 */
.Sh1 {
    position: absolute;
    width: 269px;
    height: 80px;
    left: 90px;
    top: 300px;

    font-family: Oregano;
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/* 마이페이지 메뉴 */
.Mh31 {
    position: absolute;
    width: 235px;
    height: 51px;
    left: 90px;
    top: 110px;
    background-color: #FFCE43;
    border: none;

    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;

    font-family: 'Cafe24SsurroundAir';
    text-align: center;
    text-decoration-line: underline;
    
    color: #000000;
}

.Mh32 {
    position: absolute;
    width: 235px;
    height: 51px;
    left: 90px;
    top: 190px;
    background-color: #FFCE43;
    border: none;

    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;

    font-family: 'Cafe24SsurroundAir';
    align-items: center;
    text-align: center;

    color: #000000;
}

/* 본문 글씨 */
.nic {
    position: absolute;
    width: 1050px;
    height: 65px;
    left: 120px;
    top: 108px;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 58px;
    display: flex;

    font-family: 'Cafe24SsurroundAir';
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #FFCE43;
    color: #FFFFFF;
}

.nicupbtn {
    position: absolute;
    width: 85px;
    height: 30px;
    left: 1080px;
    top: 135px;
    font-family: 'Cafe24SsurroundAir';
    background: #FFCE43;
    border: 1px solid #FFAE8C;
    box-sizing: border-box;
    border-radius: 60px;
}

.mail {
    position: absolute;
    width: 1050px;
    height: 65px;
    left: 120px;
    top: 185px;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #FFCE43;
    color: #FFFFFF;
}

.bm1 {
    position: absolute;
    width: 1050px;
    height: 74px;
    left: 120px;
    top: 385px;

    font-family: 'Cafe24SsurroundAir';
    /* font-family: Oregano; */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #FFCE43;
    color: #FFFFFF;
}

.bm2 {
    position: absolute;
    width: 1050px;
    height: 74px;
    left: 120px;
    top: 465px;

    font-family: 'Cafe24SsurroundAir';
    /* font-family: Oregano; */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #FFCE43;
    color: #FFFFFF;
}
.bm3 {
    position: absolute;
    width: 1050px;
    height: 74px;
    left: 120px;
    top: 545px;

    font-family: 'Cafe24SsurroundAir';
    /* font-family: Oregano; */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #FFCE43;
    color: #FFFFFF;
}

.joinoutbtn {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 1150px;
    top: 740px;
    
    font-family: 'Cafe24SsurroundAir';
    background: #FFCE43;
    border: 1px solid #FFAE8C;
    box-sizing: border-box;
    border-radius: 60px;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}