
/* My Video*/

.Myvideobg {
    position: absolute;
    /* width: 80%;
    height: 550px;
    left: 1.5%;
    top: 45px; */
    width: 60vw;
    height: 77vh;
    left: 0.9vw;
    top: 9vh;
    
    /* background: #ffcd438f; */
    background: #f9b108cb;
    /* background: rgba(228, 83, 21, 0.61); */
    border-radius: 2vw;
}

/* 본문 들어갈 부분 */

/* My Video 제목 */
.Sh1 {
    position: absolute;
    /* width: 20%;
    height: 10%;
    left: 5%;
    top: 9%; */

    width: 20vw;
    height: 10vh;
    left: 3vw;
    top: 6vh;

    font-weight: bold;
    font-family: 'Oregano', cursive;
    /* font-family: 'Cafe24SsurroundAir'; */
    font-style: normal;
    font-weight: normal;
    /* font-size: 280%; */
    font-size: 2.5vw;
    /* line-height: 58px; */
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/* 본문 테이블 */
.table{
    position: absolute;
    /* width: 60%; */
    /* width: 90%;
    height: 1300%; */
    width: 55vw;
    height: 55vh;
    left: 2.7vw;
    top: 10vh;
    overflow-y: scroll;

    /* font-weight: bold; */
    /* font-family: 'Oregano', cursive; */
    /* font-family: 'Cafe24SsurroundAir'; */
    /* font-style: normal; */
    /* font-weight: normal; */
    /* font-size: 45px; */
    /* line-height: 58px; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */

    /* color: #FFFFFF; */
}

/* 비디오 */
/* .video1 {
    position: absolute;
    width: 356px;
    height: 195px;
    left: 70px;
    top: 150px;

    background: url(image.png);
    border-radius: 8px;
} */

/* 테이블 헤더 글자 */
.tablehead{
    /* font-size: 140%; */
    font-size: 1.3vw;
    font-family: 'Cafe24Ssurround';
    text-align: center;  
}

.tablebody{
    /* font-size: 120%; */
    font-size: 1.05vw;
    font-family: 'Cafe24SsurroundAir';
    text-align: center; 
}

.tableImg{
    width: 300vw;
    height: 200vh;
    background-color: FFCE43;
}

/* 폰트 */
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}