
/* My Page랑 My Video 공통 틀 */

/* 메뉴 */
.menu {
    position: absolute;
    width: 384px;
    height: 389.24px;
    left: 100px;
    top: 261.76px;

    background: #FFCE43;
    border-radius: 60px;
}

/* 메뉴 삼각형 */
.desk {
    position: absolute;
    width: 382px;
    height: 120px;
    left: 100px;
    top: 42px;

    border: 5px solid #FFCE43;
}

.menut {
    position: absolute;
    /* width: 61.11px; */
    /* height: 55.45px; */
    width: 0px;
    height: 0px;
    left: 180px;
    top: 168px;
    /* background: #FFCE43; */
    border-bottom: 50px solid transparent;
    border-top: 50px solid #FFCE43;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    -webkit-transform: rotate(180deg);
}

/* 로비로 나가는 버튼 */
.backbtn{
    position: absolute;
    /* width: 129.08px;
    height: 134.5px; */
    width: 0px;
    height: 0px;
    left: 30px;
    top: 900px;

    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 80px solid #FFCE43;
    border-right: 80px solid transparent;

    /* background: #FFCE43; */
    background: none;
    transform: rotate(180deg);
}

/* 본문 들어갈 부분 */
.body {
    position: absolute;
    width: 1308px;
    height: 808px;
    left: 800px;
    top: 154px;

    border: 8px solid #FFCE43;
    box-sizing: border-box;
    border-radius: 60px;
}

/* 본문에 들어갈 마이페이지 글씨 사이즈 */
.Mh1 {
    position: absolute;
    width: 269px;
    height: 80px;
    left: 90px;
    top: 20px;

    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* 마이페이지 메뉴 */
.Mh31 {
    position: absolute;
    width: 235px;
    height: 51px;
    left: 90px;
    top: 110px;
    background-color: #FFCE43;
    border: none;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    
    color: #000000;
}

/* MyVideo menu */
.Mh32 {
    position: absolute;
    width: 235px;
    height: 51px;
    left: 90px;
    top: 190px;
    background-color: #FFCE43;
    border: none;

    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #000000;
}

/* 첫번째 줄 비디오와 비디오 이름 */
.video {
    position: absolute;
    width: 356px;
    height: 195px;
    left: 70px;
    top: 150px;

    /* background: url(image.png); */
    border-radius: 8px;
}

.title {
    position: absolute;
    width: 310px;
    height: 31px;
    left: 150px;
    top: 380px;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFDFD;
}


.video2 {
    position: absolute;
    width: 356px;
    height: 195px;
    left: 470px;
    top: 150px;

    /* background: url(image.png); */
    border-radius: 8px;
}

.title2 {
    position: absolute;
    width: 310px;
    height: 31px;
    left: 550px;
    top: 380px;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFDFD;
}

.video3 {
    position: absolute;
    width: 356px;
    height: 195px;
    left: 870px;
    top: 150px;

    /* background: url(image.png); */
    border-radius: 8px;
}

.title3 {
    position: absolute;
    width: 310px;
    height: 31px;
    left: 950px;
    top: 380px;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFDFD;
}

.line {
    position: absolute;
    width: 1140px;
    height: 0px;
    left: 80px;
    top: 360px;

    border: 3px solid #FFCE43;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

/* 두번째 줄 비디오와 비디오 이름 */

.video4 {
    position: absolute;
    width: 356px;
    height: 195px;
    left: 70px;
    top: 500px;

    /* background: url(image.png); */
    border-radius: 8px;
}

.title4 {
    position: absolute;
    width: 310px;
    height: 31px;
    left: 150px;
    top: 718px;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFDFD;
}

.video5 {
    position: absolute;
    width: 356px;
    height: 195px;
    left: 470px;
    top: 500px;

    /* background: url(image.png); */
    border-radius: 8px;
}

.title5 {
    position: absolute;
    width: 310px;
    height: 31px;
    left: 550px;
    top: 718px;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFDFD;
}

.video6 {
    position: absolute;
    width: 356px;
    height: 195px;
    left: 870px;
    top: 500px;

    /* background: url(image.png); */
    border-radius: 8px;
}

.title6 {
    position: absolute;
    width: 310px;
    height: 31px;
    left: 950px;
    top: 718px;
    
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFDFD;
}

.line2 {
    position: absolute;
    width: 1140px;
    height: 0px;
    left: 80px;
    top: 700px;

    border: 3px solid #FFCE43;
    transform: matrix(1, 0, 0, 1, 0, 0);
}