@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@font-face {
  font-family: "ROKAFSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.ChangeModeBackground {
  width: 90vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -85vh;
  z-index: 5;
}

.ChangeModeContainer {
  width: 60vw;
  height: 60vh;
  border-radius: 12px;
  background-color: black;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 25px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 5;
}

.ChangeModeContainer .title {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 5.5vw;
  font-weight: bold;
  font-family: "Oregano", cursive;
}

.ChangeModeContainer .body {
  flex: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ChangeModeContainer .body2 {
  flex: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ChangeModeContainer .footer {
  flex: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modeButton {
  width: 15vw;
  height: 9vh;
  background-color: #fff89a;
  font-family: "Oregano", cursive;
  font-size: 5vh;
  font-weight: bold;
  border-radius: 20px;
}

#modeButton2 {
  width: 25vw;
  height: 10vh;
  background-color: #fff89a;
  font-family: "ROKAFSansBold";
  font-size: 4vh;
  /* font-weight: bold; */
  border-radius: 20px;
  /* margin-top: 5vh; */
}

#modeLink {
  text-decoration: none;
  color: black;
}

#backButton {
  width: 10vw;
  height: 10vh;
  font-size: 7vh;
  font-weight: bold;
  font-family: "Oregano", cursive;
  background-color: black;
  color: white;
  border: none;
}

/* -----------------------------------------------unfolding */
.ChangeModeContainer {
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ChangeModeContainer .ChangeModeBackground {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ChangeModeContainer.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ChangeModeContainer.out .ChangeModeBackground {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* Dimmed showing */
@keyframes unfoldIn {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }
  50% {
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
/* Show modal content */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Hide modal content */
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/* Dimmed hiding */
@keyframes unfoldOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    transform: scaleX(0) scaleY(0.005);
  }
}




.ScoreBoard {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 47vh;
  background-color: rgba(68, 67, 67, 0.507);
  top: 25vh;
  justify-content: center;
  align-items: center;
  /* font-family: "ROKAFSansBold"; */
  z-index: 100;
  flex-direction: column;
}

.Score0{
  font-size: 4vw;
  font-family: 'SDSamliphopangche_Outline';
  color: #fff89a;
}

.Score60{
  font-size: 8.5vw;
  font-family: 'SDSamliphopangche_Outline';
  color: rgb(255, 42, 0);
}

.Score70{
  font-size: 8.5vw;
  font-family: 'SDSamliphopangche_Outline';
  color: rgb(102, 255, 0);
}

.Score80{
  font-size: 8.5vw;
  font-family: 'SDSamliphopangche_Outline';
  color: rgb(150, 85, 253);
}

.Score90{
  font-size: 8.5vw;
  font-family: 'SDSamliphopangche_Outline';
  color: rgb(251, 255, 0);
}

.Score100{
  font-size: 8.5vw;
  font-family: 'SDSamliphopangche_Outline';
  color: rgb(255, 0, 221);
}

.Score2{
  font-size: 2.5vw;
  font-family: 'SDSamliphopangche_Outline';
  color: white;
}