@font-face {
  font-family: "ROKAFSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.room {
  background-color: black;
  color: white;
}

.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -1px;
  border-radius: 0px;
  filter: blur(8px);
  z-index: -1;
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Musicbar {
  position: fixed;
  display: inline-block;
  font-size: 1.3vw;
  text-align: center;
  width: 10vw;
  height: 4vw;
  border-radius: 10px;
  font-family: "ROKAFSansBold";
  color: #fff89a;
  background-color: black;
  border: none;
}

.marquee {
  width: 750px;
  height: 60px;
}

#Musicbar {
  position: fixed;
  display: inline-block;
  font-size: 1.3vw;
  text-align: center;
  width: 40vw;
  height: 4vw;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 50px;
  font-family: "ROKAFSansBold";
  color: #fff89a;
  background-color: black;
  border: none;
}

/* ------------------------------------------- Screen */

#ScreenBasic {
  width: 55vw !important;
  height: 60vh !important;
  border-radius: 10px;
  margin-top: 11%;
  margin-left: 4%;
  position: absolute;
}

#ScreenFree {
  width: 42vw !important;
  height: 42vh !important;
  border-radius: 10px;
  position: absolute;
  top: 24%;
  left: 29.5%;
}

#ScreenSolo {
  width: 35vw !important;
  height: 35vh !important;
  border-radius: 10px;
  position: absolute;
  top: 22%;
  left: 3%;
}

/* ------------------------------------------- NormalCam */

#BasicNormalCam {
  width: 10vw;
  height: 20vh;
  margin: 10px;
  border-radius: 10px;
}

#FreeNormalCam {
  width: 10vw;
  height: 15vh;
  margin: 10px;
  border-radius: 10px;
}

#SoloNormalCam {
  width: 13vw;
  height: 20vh;
  margin: 20px;
  border-radius: 10px;
}

#DuetNormalCam {
  width: 10vw;
  height: 15vh;
  margin: 10px;
  border-radius: 10px;
}

/* ------------------------------------------- SingerCam */

#SoloSingerCam {
  position: absolute;
  width: 27vw;
  height: 35vh;
  margin: 8px;
  border-radius: 10px;
  top: 22vh;
  left: 39vw;
}

#DuetSingerCam1 {
  position: absolute;
  width: 20vw;
  height: 35vh;
  margin: 10px;
  border-radius: 50px;
  top: 25vh;
  left: 4vw;
}

#DuetSingerCam2 {
  position: absolute;
  width: 20vw;
  height: 35vh;
  margin: 10px;
  border-radius: 50px;
  top: 25vh;
  right: 4vw;
}

/* ------------------------------------------- CamBox */

.BasicCamBox {
  position: absolute;
  width: 35vw;
  height: 47vh;
  top: 12vh;
  left: 63vw;
  display: inline-block;
  border-radius: 10px;
}

.SoloCamBox {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 35vh;
  top: 63vh;
  display: inline-block;
  border-radius: 10px;
}

.DuetCamBox1 {
  position: absolute;
  width: 25vw;
  height: 30vh;
  top: 68vh;
  left: 3.5vw;
  display: inline-block;
  border-radius: 10px;
}

.DuetCamBox2 {
  position: absolute;
  width: 25vw;
  height: 30vh;
  top: 68vh;
  right: 0.5vw;
  display: inline-block;
  border-radius: 10px;
}

/* ------------------------------------------- ChatBox */

.BasicChatBox {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 33vw;
  height: 21vh;
  top: 62vh;
  right: 3.5vw;
  display: inline-block;
  border-radius: 10px;
}

.FreeChatBox {
  background-color: transparent;
  position: absolute;
  width: 42vw;
  height: 17vh;
  top: 68vh;
  left: 29.5vw;
  display: inline-block;
  border-radius: 10px;
}

.SoloChatBox {
  background-color: transparent;
  position: absolute;
  width: 28vw;
  height: 34vh;
  top: 22vh;
  right: 3.6vw;
  display: inline-block;
  border-radius: 10px;
}

/* ------------------------------------------- Chat */

#BasicChat {
  background-color: rgba(0, 0, 0, 0.938);
  color: white;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 15px;
  border: none;
  font-family: "Cafe24SsurroundAir";
}

#FreeChat {
  background-color: rgb(49, 53, 52);
  color: white;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 15px;
  border: none;
  font-family: "Cafe24SsurroundAir";
}

#SoloChat {
  background-color: rgb(49, 53, 52);
  color: white;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 15px;
  border: none;
  font-family: "Cafe24SsurroundAir";
}

/* ------------------------------------------- Button */

.ButtonBox {
  position: fixed;
  bottom: 20px;
  width: 100vw;
  height: 10vh;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cafe24Ssurround";
}

/* .btn {
  color: white;
  font-size: 2rem;
  background-color: tomato;
  width: 200px;
  height: 70px;
  margin: 0 20px;
  border-radius: 15px;
} */

:root {
  /* --clr-neon: hsl(317 100% 54%); */
  --clr-neon: #f9b208;

  --clr-bg: hsl(323 21% 16%);
}

.neon {
  font-size: 1.5vw;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  margin: 0 20px;
}

.neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon:hover,
.neon:focus {
  color: var(--clr-neon);
  text-shadow: none;
}

.neon:hover::before,
.neon:focus::before {
  opacity: 1;
}
.neon:hover::after,
.neon:focus::after {
  opacity: 1;
}

/* ------------------------------------------- MirrorBall */

#MirrorBall {
  display: flex;
  position: fixed;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  transform-style: preserve-3d;
  top: 8vh;
  left: 50vw;
}

.disco {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 6.3vw;
  height: 6.3vw;
  background: url(https://previews.123rf.com/images/pauljune/pauljune1312/pauljune131200121/24680710-patr%C3%B3n-de-rejilla-de-arco-iris-transparente.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 1), 0 0 50px #acacaa;
  animation: animateDisco 5s linear infinite;
}

@keyframes animateDisco {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1300px 0;
  }
}

/* ------------------------------------------- Lightrope */
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
}
.lightrope li {
  position: relative;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: #fff89a;
  box-shadow: 0px 4.6666666667px 24px 3px #fff89a;
  -webkit-animation-name: flash-1;
  animation-name: flash-1;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.lightrope li:nth-child(2n + 1) {
  background: #00f7a5;
  box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.4);
  -webkit-animation-name: flash-2;
  animation-name: flash-2;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.lightrope li:nth-child(4n + 2) {
  background: #f70094;
  box-shadow: 0px 4.6666666667px 24px 3px #f70094;
  -webkit-animation-name: flash-3;
  animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}
.lightrope li:nth-child(3n + 1) {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}
.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.3333333333px;
  border-radius: 3px;
  top: -4.6666666667px;
  left: 1px;
}
.lightrope li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.6666666667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}
.lightrope li:last-child:after {
  content: none;
}
.lightrope li:first-child {
  margin-left: -40px;
}

@-webkit-keyframes flash-1 {
  0%,
  100% {
    background: #fff89a;
    box-shadow: 0px 4.6666666667px 24px 3px #fff89a;
  }
  50% {
    background: #926c02;
    box-shadow: 0px 4.6666666667px 24px 3px #926c02;
  }
}

@keyframes flash-1 {
  0%,
  100% {
    background: #fff89a;
    box-shadow: 0px 4.6666666667px 24px 3px #fff89a;
  }
  50% {
    background: #926c02;
    box-shadow: 0px 4.6666666667px 24px 3px #926c02;
  }
}
@-webkit-keyframes flash-2 {
  0%,
  100% {
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.4);
  }
}
@keyframes flash-2 {
  0%,
  100% {
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.4);
  }
}
@-webkit-keyframes flash-3 {
  0%,
  100% {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}
@keyframes flash-3 {
  0%,
  100% {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094;
  }
  50% {
    background: rgba(255, 0, 255, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(255, 0, 255, 0.4);
  }
}

#btn_no {
  text-decoration: none;
  color: #f9b208;
}

/* ------------------------------------------- Crazylights */

.crazylights {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: -2;
  /* margin-top: -400px; */
}

.glowing {
  position: relative;
  min-width: 600px;
  height: 600px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 9s linear infinite;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.glowing:nth-child(even) {
  transform-origin: left;
}
@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
#light1 {
  position: absolute;
  top: calc(50px);
  left: calc(50px);
  bottom: calc(50px);
  right: calc(50px);
}

#light2 {
  position: absolute;
  top: calc(50px * 2);
  left: calc(50px * 2);
  bottom: calc(50px * 2);
  right: calc(50px * 2);
}

#light3 {
  position: absolute;
  top: calc(50px * 3);
  left: calc(50px * 3);
  bottom: calc(50px * 3);
  right: calc(50px * 3);
}

#light4 {
  position: absolute;
  top: calc(50px * 4);
  left: calc(50px * 4);
  bottom: calc(50px * 4);
  right: calc(50px * 4);
}

.glowing span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 2vw;
  height: 2vw;
  background: #ffffff;
  border-radius: 50%;
}
.glowing span:nth-child(3n + 1):before {
  background: rgb(134, 255, 0);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgb(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 1);
}
.glowing span:nth-child(3n + 2):before {
  background: rgb(248, 0, 0);
  box-shadow: 0 0 20px rgb(248, 0, 0), 0 0 40px rgb(248, 0, 0),
    0 0 60px rgb(248, 0, 0), 0 0 80px rgb(248, 0, 0), 0 0 0 8px rgb(248, 0, 0);
}
.glowing span:nth-child(3n + 3):before {
  background: rgb(255, 142, 249);
  box-shadow: 0 0 20px rgb(255, 142, 249), 0 0 40px rgb(255, 142, 249),
    0 0 60px rgb(255, 142, 249), 0 0 80px rgb(255, 142, 249),
    0 0 0 8px rgb(255, 142, 249);
}

.glowing span:nth-child(3n + 1) {
  animation: animate 4s alternate infinite;
}
.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 5s alternate infinite;
}
.glowing span:nth-child(3n + 3) {
  animation: animate 7s alternate infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.modalposition {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}




/* ------------------------------------------- ChatBox */

.ChatBox {
  width: 100%;
  height: 85%;
}

.InputBox {
  width: 100%;
  height: 15%;
}

.Nick {
  width: 20%;
  height: 100%;

  display: inline-flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  border: 0.1vw solid #cfc976;
  border-radius: 0.2vw;


}

.txtmsg{
  display: inline;
  width: 80%;
  height: 100%;
  background-color: black;
  border: none;
  color: #FFCE43;
  border: 0.15vw solid #3d3c3c;
  border-radius: 0.1vw;
}


.Chat{
  display: block;
  /* justify-content: start; */
  /* align-items: center; */
  /* width:95%; */
  /* height:13%; */
  /* border:1px solid sandybrown; */
  padding: 0.7vw;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 1rem;
  /* background-color: #ff0000; */
}
.ChatContent{
  /* width: 80%; */
  margin-left: 1vw;
  /* border:1px solid rgb(255, 0, 0); */
  color: #FFCE43;
  /* margin-left:1vw; */
}
.ChatName{
  /* width: 50%; */
  font-weight: bold;
  /* border:1px solid rgb(255, 0, 0); */
  color: white
}