html {
	position: relative;
	min-height: 100%;
}



#main-container {
	padding-bottom: 80px;
}

input.btn {
	font-weight: bold;
}

.btn {
	font-weight: bold !important;
}

.btn-success {
	background-color: #06d362 !important;
	border-color: #06d362;
}

.btn-success:hover {
	background-color: #1abd61 !important;
	border-color: #1abd61;
}


#video-container video {
	position: relative;
	float: left;
	cursor: pointer;
}

#video-container p {
	display: inline-block;
	background: #f8f8f8;
	padding-right: 5px;
	padding-left: 5px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}

/*video {
	width: 100%;
	height: auto;
}*/

#main-video p {
	position: absolute;
	display: inline-block;
	background: #f8f8f8;
	padding-right: 5px;
	padding-left: 5px;
	left: 0;
	font-size: 22px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}

#main-video video {
	cursor: initial;
}

#session img {
	width: 100%;
	height: auto;
	display: inline-block;
	object-fit: contain;
	vertical-align: baseline;
}

#session #video-container img {
	position: relative;
	float: left;
	width: 50%;
	cursor: pointer;
	object-fit: cover;
	height: 180px;
}


/* xs ans md screen resolutions*/

@media screen and (max-width: 991px) {
	.vertical-center {
		width: 85%;
		padding-top: 10px;
		top: 57%;
	}
}
