.btngroup {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  padding-top: 5vh;
}

/* CreateRoom */
.btnCreate {
  position: relative;
  width: 15vw;
  border: none;
  background-color: transparent;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: "Oregano", cursive;
  color: white;
  padding: 0;
  margin-right: -1vw;
}

.btnimg {
  width: 4vw;
  margin-left: -1vw;
}

/* 방생성 모달 */
.createroombg {
  position: absolute;
  width: 39vw;
  height: 75vh;
  /* left: -3.7vw; */
  top: 10vh;

  background: #f9b108cb;
  /* background: rgba(228, 83, 21, 0.61); */
  border-radius: 2pc;
}

.modposi {
  display: flex;
  justify-content: center;
}

/* 노래방생성 */
.createtitle {
  position: absolute;
  /* width: 35%; */
  height: 10vh;
  left: 15vw;
  top: 5vh;

  /* font-family: Oregano; */
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  /* font-size: 40px; */
  /* line-height: 62px; */
  display: flex;
  align-items: center;
  text-align: center;
  /* font-family: 'ROKAFSansBold'; */
  font-family: "Cafe24Ssurround";

  color: #000000;
}

/* 방제목 */
.roomtitle {
  position: absolute;
  height: 6.5vh;
  left: 3vw;
  /* top: 80px; */
  top: 9vh;

  /* font-family: Oregano; */
  font-family: "Cafe24Ssurround";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  /* line-height: 39px; */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.titleinput {
  position: absolute;
  width: 25vw;
  /* height: 100%; */
  left: 9.5vw;
  top: 10.5vh;

  border-radius: 1pc;
  border-color: #ffcd43a8;

  font-family: "Cafe24SsurroundAir";
  background-color: #fff89a;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  /* line-height: 39px; */
  display: flex;
  align-items: center;
  text-align: center;
  /* color: #F9B208; */
}

/* 방타입 */
.roomtype {
  position: absolute;
  /* width: 18%; */
  height: 6.5vh;
  left: 3vw;
  top: 18vh;

  /* font-family: Oregano; */
  font-family: "Cafe24Ssurround";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  /* line-height: 39px; */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.typeB {
  position: absolute;
  /* width: 200%; */
  height: 3vh;
  left: 9.8vw;
  top: 17.2vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
  /* line-height: 39px; */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.typeF {
  position: absolute;
  /* width: 200%; */
  height: 3vh;
  left: 21.5vw;
  top: 17.2vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.typeS {
  position: absolute;
  /* width: 200%; */
  height: 3vh;
  /* left: 55%; */
  left: 9.8vw;
  top: 22.5vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.typeD {
  position: absolute;
  /* width: 200%; */
  height: 3vh;
  left: 21.5vw;
  /* left: 25%; */
  top: 22.5vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 태그 */
.roomtag {
  position: absolute;
  /* width: 18%; */
  height: 6.5vh;
  left: 3vw;
  top: 27vh;

  /* font-family: Oregano; */
  font-family: "Cafe24Ssurround";
  font-style: normal;
  font-weight: bold;
  font-size: 1.3vw;
  /* line-height: 39px; */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.roomtag2 {
  position: absolute;
  /* width: 18%; */
  height: 6.5vh;
  left: 2vw;
  top: 31vh;

  /* font-family: Oregano; */
  font-family: "Cafe24Ssurround";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2vw;
  /* line-height: 39px; */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagB {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 9.8vw;
  top: 28.8vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  /* line-height: 39px; */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagH {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 21.5vw;
  top: 28.8vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagQ {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 31.2vw;
  top: 28.8vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagT {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 9.8vw;
  top: 33.5vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagP {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 21.5vw;
  top: 33.5vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagW {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 31.2vw;
  top: 33.5vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagZ {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 9.8vw;
  top: 38.2vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tagX {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 21.5vw;
  top: 38.2vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.tagC {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 31.2vw;
  top: 38.2vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.tag7080 {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 9.8vw;
  top: 42.9vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tag1990 {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 21.5vw;
  top: 42.9vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tag2000 {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 31.2vw;
  top: 42.9vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tag2010 {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 9.8vw;
  top: 47.6vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tag2020 {
  position: absolute;
  /* width: 200%; */
  height: 2.5vh;
  /* left: 55%; */
  left: 21.5vw;
  top: 47.6vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 공개여부 */
.roomFC {
  position: absolute;
  /* width: 20%; */
  height: 6.5vh;
  left: 3vw;
  top: 54vh;

  /* font-family: Oregano; */
  font-family: "Cafe24Ssurround";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.roomFree {
  position: absolute;
  /* width: 200%; */
  height: 3vh;
  /* left: 55%; */
  left: 11vw;
  top: 55.5vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2vw;
  /* line-height: 26px; */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.roomclose {
  position: absolute;
  width: 20vw;
  height: 3vh;
  /* left: 55%; */
  left: 18vw;
  top: 55.5vh;

  /* font-family: Oregano; */
  font-family: "Cafe24SsurroundAir";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.roompw {
  position: absolute;
  width: 10vw;
  /* height: 100%; */
  left: 5.5vw;

  border-radius: 1pc;
  border-color: #ffcd43a8;

  font-family: "Cafe24SsurroundAir";
  background-color: #fff89a;

  font-family: Oregano;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* .createbtn { */
.btn {
  position: absolute;
  width: 10vw;
  height: 4vh;
  left: 15vw;
  top: 62vh;
  font-family: "Cafe24SsurroundAir";
  background-color: rgba(132, 178, 248, 0.9);
  /* color: rgba(132, 178, 248, 0.9); */
  border-radius: 1pc;
  font-size: 1.2vw;
  font-weight: bold;
}

/* 폰트 */
@font-face {
  font-family: "ROKAFSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
