/* .modal-content 모달 외의 부분까지 다 적용 */
.modalContent{
    /* position: absolute;
    width: 597px;
    height: 678px;
    left: 623px;
    top: 225px; */
    /* font-family: 'Cafe24SsurroundAir'; */
    /* background: rgba(255, 206, 67, 0.9); */
    background-color: rgba(0, 0, 0, 0);
    /* border-radius: 15px; */
}

/* 방생성 모달 */
.createroombg {
    position: absolute;
    width: 39vw;
    height: 75vh;
    left: -20%;
    top: 60px;
    
    background: #f9b108cb;
    /* background: rgba(228, 83, 21, 0.61); */
    border-radius: 2pc;
}

/* 노래방생성 */
.createtitle{
    position: absolute;
    width: 35%;
    height: 10vh;
    left: 15vw;
    top: 50px;

    /* font-family: Oregano; */
    font-style: normal;
    font-weight: normal;
    font-size: 250%;
    /* font-size: 40px; */
    /* line-height: 62px; */
    display: flex;
    align-items: center;
    text-align: center;
    /* font-family: 'ROKAFSansBold'; */
    font-family: 'Cafe24Ssurround';

    color: #000000;
}

/* 방제목 */
.roomtitle{
    position: absolute;
    width: 18%;
    height: 60px;
    left: 8%;
    /* top: 80px; */
    top: 260%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    /* line-height: 39px; */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}
.titleinput{
    position: absolute;
    width: 70%;
    height: 100%;
    left: 25%;
    top: 95px;
    
    border-radius: 1pc;
    border-color: #ffcd43a8;

    font-family: 'Cafe24SsurroundAir';
    background-color: #FFF89A ;
    font-style: normal;
    font-weight: normal;
    font-size: 110%;
    /* line-height: 39px; */
    display: flex;
    align-items: center;
    text-align: center;
    /* color: #F9B208; */
}

/* 방타입 */
.roomtype{
    position: absolute;
    width: 18%;
    height: 60px;
    left: 8%;
    top: 450%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    /* line-height: 39px; */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.typeB{
    position: absolute;
    width: 200%;
    height: 75%;
    left: 25%;
    top: 500%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    /* line-height: 39px; */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.typeF{
    position: absolute;
    width: 200%;
    height: 75%;
    left: 55%;
    top: 500%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.typeS{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 25%;
    top: 650%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.typeD{
    position: absolute;
    width: 200%;
    height: 75%;
    left: 55%;
    /* left: 25%; */
    top: 650%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

/* 태그 */
.roomtag{
    position: absolute;
    width: 18%;
    height: 60px;
    left: 8%;
    top: 790%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.roomtag2{
    position: absolute;
    width: 18%;
    height: 60px;
    left: 6%;
    top: 930%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}



.tagB{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 25%;
    top: 840%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tagH{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 55%;
    top: 840%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tagQ{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 80%;
    top: 840%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tagT{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 25%;
    top: 980%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tagP{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 55%;
    top: 980%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;  
}

.tagW{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 80%;
    top: 980%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;  
}

.tagZ{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 25%;
    top: 1120%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tagX{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 55%;
    top: 1120%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}
.tagC{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 80%;
    top: 1120%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}
.tag7080{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 25%;
    top: 1260%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tag1990{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 55%;
    top: 1260%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tag2000{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 80%;
    top: 1260%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tag2010{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 25%;
    top: 1400%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.tag2020{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 55%;
    top: 1400%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}









/* 공개여부 */
.roomFC{
    position: absolute;
    width: 20%;
    height: 60px;
    left: 8%;
    top: 1600%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.roomFree{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 29%;
    top: 1650%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.roomclose{
    position: absolute;
    width: 200%;
    height: 75%;
    /* left: 55%; */
    left: 45%;
    top: 1650%;
    
    /* font-family: Oregano; */
    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.roompw{
    position: absolute;
    width: 16%;
    height: 100%;
    left: 8%;
    top: 0%;
    
    border-radius: 1pc;
    border-color: #ffcd43a8;

    font-family: 'Cafe24SsurroundAir';
    background-color: #FFF89A ;

    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000; 
}

/* .createbtn { */
.btn {
    position: absolute;
    width: 25%;
    height: 120%;
    left: 37%;
    top: 1830%;
    font-family: 'Cafe24SsurroundAir';
    background-color: rgba(132, 178, 248, 0.9);
    /* color: rgba(132, 178, 248, 0.9); */
    border-radius: 1pc;
    font-size: 150%;
    font-weight: bold;
 
}

/* 폰트 */
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}