/* CreateRoom */
.btn {
    position: absolute;
    top: 20vh;
    right: 7.5vw;
    width: 15vw;
    border: none;
    background-color: transparent;
    font-size: 2.8vw;
    font-weight: bold;
    font-family: 'Oregano', cursive;
    color: white;
}

.btnimg {
    position: absolute;
    top: 20vh;
    right: 4.2vw;
    width: 5vw;
}

.btnimg2 {
    position: absolute;
    width: 100%;
}


/* 자판기 바깥배경 */
.machine {
    position: absolute;
    width: 13%;
    height: 7.5%;
    left: 7%;
    top: 6%;

    display: flex;
    background: #FFCE43;
}

/* 자판기 내부 배경 */
.machine2 {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 20%;
    display: flex;
    background: #ABD7FA;
}

/* 자판기 캔들 */
.can {
    position: absolute;
    width: 13%;
    height: 95%;
    left: 5%;
    top: 9.5%;
    display: flex;
    background: #ED89B5;
    border-radius: 10pc;
}

.can2 {
    position: absolute;
    width: 13%;
    height: 95%;
    left: 20%;
    top: 9.5%;
    display: flex;
    background: #F4E668;
    border-radius: 10pc;
}

.can3 {
    position: absolute;
    width: 13%;
    height: 95%;
    left: 35%;
    top: 9.5%;
    display: flex;
    background: #C445D9;
    border-radius: 10pc;
}

.can4 {
    position: absolute;
    width: 13%;
    height: 95%;
    left: 50%;
    top: 9.5%;
    display: flex;
    background: #0381D7;
    border-radius: 10pc;
}

.can5 {
    position: absolute;
    width: 13%;
    height: 95%;
    left: 65%;
    top: 9.5%;
    display: flex;
    background: #D6195E;
    border-radius: 10pc;
}

.can6 {
    position: absolute;
    width: 13%;
    height: 95%;
    left: 80%;
    top: 9.5%;
    display: flex;
    background: #0E3892;
    border-radius: 10pc;
}


/* ------- 방문 ---------- */
.doorcolor {

    /* background: rgba(156, 196, 255, 0.4);
    border: 5px solid rgba(156, 196, 255, 0.4)3;
    box-sizing: border-box; */

    position: absolute;
    width: 20vw;
    height: 50vh;

    background: rgba(156, 196, 255, 0.4);
    border: 5vw solid #FFCE43;
    box-sizing: border-box;
    display: flex;
    /* border: none; */
}

/* 방 내부 */

.video {
    position: absolute;
    width: 12.5vw;
    height: 14vh;
    left: 1vw;
    top: 0.75vw;

    /* background-color: #ffffff; */

    display: flex;
}

/* 방제 */
.roomtitle {
    position: absolute;
    width: 12.8vw;
    height: 3.5vh;
    left: 0.8vw;
    top: 17vh;
    /* background: rgba(156, 196, 255, 0.8); */
    /* background: #dc8cfcd8; */
    /* background: #f7dc44bd; */
    /* background: #fdb3b7cc; */
    /* background: #ce78f0a2; */
    background: #ba78f0a2;
    /* background: #8ae0fdea; */
    border-radius: 5vh;

    font-style: normal;
    font-weight: normal;
    font-size: 1.0vw;
    /* line-height: 62px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* font-family: 'Cafe24Ssurround'; */
    font-family: 'Cafe24SsurroundAir';
    font-weight: bold;
    padding: 0.1vw;

    /* color: #000000; */
    color: #ffffff;
}

/* 방장 */
.roomuser {
    position: absolute;
    width: 8.5vw;
    height: 3.5vh;
    left: 0.8vw;
    top: 21.5vh;
    
    /* background: rgba(156, 196, 255, 0.8); */
    /* background: #dc8cfcd8; */
    /* background: #f7dc44bd; */
    /* background: #fdb3b7cc; */
    background: #ba78f0a2;
    border-radius: 5vh;

    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    /* line-height: 62px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* font-family: 'Cafe24Ssurround'; */
    font-family: 'Cafe24SsurroundAir';
    font-weight: bold;
    padding: 0.2vw;

    color: #ffffff;
    /* color: #edd8fd; */
    /* color: #b44e53; */
    /* color: #ffda0be3; */
    /* color: #980dcf; */
}

/* 방인원수 */
.roomfull {
    position: absolute;
    width: 4vw;
    height: 3.5vh;
    left: 9.5vw;
    top: 21.5vh;

    /* background: rgba(156, 196, 255, 0.8); */
    /* background: #dc8cfcd8; */
    /* background: #f7dc44bd; */
    /* background: #fdb3b7cc; */
    background: #ba78f0a2;
    border-radius: 5vh;

    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    /* line-height: 62px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    font-weight: bold;
    padding: 0.2vw;

    color: #ffffff;
    /* color: #270450; */
    /* color: #680207cc; */
    /* color: #61592c; */
    /* color: #500085; */
}

.tag{
    position: absolute;
    /* width: 90%;
    height: 9%; */
    width: 12.8vw;
    height: 3.5vh;
    /* left: 5%; */
    left: 0.8vw;
    top: 26vh;

    text-align: center;
    /* font-family: 'Oregano', cursive; */
    font-family: 'Cafe24Ssurround';
    font-size: 0.9vw;
    font-weight: bold;
    color: white;
    padding: 0.04vw;
    /* color:#ff6fa4; */
    /* color: #FFCE43; */
    /* color: rgb(4, 228, 4); */

    /* background: rgba(156, 196, 255, 0.8); */
    border-radius: 5vh;
}

/* join 버튼 */
.joinbtn{
    position: absolute;
    width: 11vw;
    height: 5vh;
    left: 2vw;
    top: 30.5vh;

    /* background: #8AE1FD; */
    /* background: #f2e1f8; */
    /* background: #f3e9b0; */
    /* background: #f8d0d2; */
    background: #e9d4fa;
    border-radius: 5vh;
    /* font-family: 'Cafe24SsurroundAir'; */
    font-weight: bold;
    font-family: 'Oregano', cursive;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    padding: 0.05vw;
    color: #350061da;
    /* color: #972127fb; */
    /* color: #a75000; */
    /* color: #6c0097; */
    /* font-family: 'Cafe24SsurroundAir'; */
    /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff'); */
    /* font-weight: normal; */
    /* font-style: normal; */
}

.joindeco{
    text-decoration: none;
}

/* 빈칸 방 */
.block {
    border: none;
    background-color: black;
}

/* 방들 줄별 top 설정 */
/* .lineone{
    top: 58%;
}
.linetwo{
    top: 96%;
} */

/* 방들 공통 내용 */
.roomsamecss {
    position: absolute;
    width: 15vw;
    height: 38vh;

    /* background: rgba(156, 196, 255, 0.4); */
    /* background: #fff89a54; */
    border: 0.3vw solid #FFCE43;
    box-sizing: border-box;
    border-radius: 3vh;

    box-shadow: 
        0 0 .1rem #fff, 
        0 0 .1rem #fff, 
        0 0 .1rem #fff, 
        0 0 0.4rem #FFFFFF, 
        0 0 1.5rem #FFCE43, inset 
        0 0 0.8rem #FFCE43; 
}


/* 위 왼쪽 방 */
.doorL {
    /* position: absolute;
    width: 15%;
    height: 38%; */
    /* left: 6%;
    top: 20%; */
    left: 5.95vw;
    top: 30vh;

    /* background: rgba(156, 196, 255, 0.4);
    border: 0.3pc solid #FFCE43;
    box-sizing: border-box; */
}

/* 위 오른쪽 방 */
.doorR {
    /* position: absolute;
    width: 15%;
    height: 38%; */
    /* left: 79%; */
    right: 5.95vw;
    top: 30vh;

    /* background: rgba(156, 196, 255, 0.4);
    border: 0.3pc solid #FFCE43;
    box-sizing: border-box; */
}

/* 아래 왼쪽 방 */
.doorLD {
    /* position: absolute;
    width: 15%;
    height: 38%; */
    /* left: 6%;
    top: 58%; */

    /* background: rgba(156, 196, 255, 0.4);
    border: 0.3pc solid #FFCE43;
    box-sizing: border-box; */
}


/* 가운데 방 왼쪽 */
.doorML {
    /* position: absolute;
    width: 15%;
    height: 38%;
    /* left: 36%;
    top: 58%; */

    /*background: rgba(156, 196, 255, 0.4);
    border: 0.3pc solid #FFCE43;
    box-sizing: border-box; */
}

/* 가운데 방 오른쪽 */
.doorMR {
    /* position: absolute;
    width: 15%;
    height: 38%; */
    /* left: 50.8%;
    top: 58%; */

    /* background: rgba(156, 196, 255, 0.4);
    border: 0.3pc solid #FFCE43;
    box-sizing: border-box; */
}

/* 아래 오른쪽 방 */
.doorRD {
    /* position: absolute;
    width: 15%;
    height: 38%; */
    /* left: 50.8%; */
    /* right: 6%;
    top: 58%; */
    
    /* background: rgba(156, 196, 255, 0.4);
    border: 0.3pc solid #FFCE43;
    box-sizing: border-box; */
}

/* ---------------가운데 채팅창----------------- */
.chat {
    position: absolute;
    width: 30vw;
    /* height: 420px; */
    height: 40vh;
    left: 34.6vw;
    top: 24vh;
    
    background: #FFFFFF;
    border: 0.3vw solid #FFCE43;
    box-sizing: border-box;
    border-radius: 3vh;
    font-family: "surroundAir";
    box-shadow: 
        0 0 .1rem #fff, 
        0 0 .1rem #fff, 
        0 0 .1rem #fff, 
        0 0 0.4rem #FFFFFF, 
        0 0 2.0rem #FFCE43, inset 
        0 0 0.8rem #FFCE43;  
}

.chatcolor {
    /* position: absolute;
    width: 678px;
    height: 420px;
    left: 586px;
    top: 163px; */
    
    background: #FFFFFF;
    /* border: 5px solid #FFCE43; */
    border: none;
    box-sizing: border-box;
    border-radius: 2vh;

}



@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 

폰트
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*/