.bigtable{
    display: flex;
    /* 가로 정렬 */
    justify-content: center;
}


.createroombg {
    position: absolute;
    width: 27vw;
    height: 15vh;
    
    background: #f9b108d8;
    border-radius: 2vw;
}

.inputPW{
    text-align: center;
    padding-top: 3vh;
    font-family: 'Cafe24SsurroundAir';
}

.hfont{
    font-family: 'Cafe24Ssurround';
    font-size: 2.7vh;
}

.inputbox{
    border-radius: 2vw;
}

.button{
    border-radius: 1.5vw;
    background-color : #e6a902;
    border-color: #e6a902;
}

/* 폰트 */
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}