.bigtable{
    display: flex;
    /* 가로 정렬 */
    justify-content: center;
     /*세로  */
     /* align-items: center; */
     /* top: 40vh; */

     /* align-content: center; */
     /* -> 가로세로 정중앙 */
}


.createroombg {
    position: absolute;
    width: 25.5vw;
    height: 15vh;
    /* width: 58rem; */
    /* height: 34rem; */
    /* left: 0.9vw;
    top: 9vh; */
    
    background: #ffcd438f;
    /* background-color: rgba(0, 0, 0, 0); */
    /* background: rgba(228, 83, 21, 0.61); */
    border-radius: 2vw;
}

.inputPW{
    text-align: center;
    align-items: center;
    padding-top: 3vh;
    font-family: 'Cafe24SsurroundAir';
}

.hfont{
    font-family: 'Cafe24Ssurround';
    font-size: 2.7vh;
}

.inputbox{
    border-radius: 2vw;
}

.button{
    border-radius: 1.5vw;
    background-color : #e6a902;
    border-color: #e6a902;
}

/* 폰트 */
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}