
.crazylights {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: -2;
    margin-top: -400px;
}


.glowing{
    position: relative;
    min-width: 750px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.glowing:nth-child(even){
    
    transform-origin: left;
}
@keyframes colorChange{
    0%{
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
.glowing span{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}
.glowing span:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
}
.glowing span:nth-child(3n + 1):before{
    background: rgba(0, 251, 126);
    box-shadow: 0 0 20px  rgba(0, 251, 126),
                0 0 40px  rgba(0, 251, 126),
                0 0 60px  rgb(0, 251, 126),
                0 0 80px  rgba(0, 251, 126),
                0 0 0 8px  rgba(0, 251, 126);
                
}
.glowing span:nth-child(3n + 2):before{
    background: rgb(247, 32, 32);
    box-shadow: 0 0 20px  rgb(247, 32, 32),
                0 0 40px  rgb(247, 32, 32),
                0 0 60px  rgb(247, 32, 32),
                0 0 80px  rgb(247, 32, 32),
                0 0 0 8px  rgb(247, 32, 32);
                
}
.glowing span:nth-child(3n + 3):before{
    background: rgb(253, 181, 47);
    box-shadow: 0 0 20px  rgb(253, 181, 47),
                0 0 40px  rgb(253, 181, 47),
                0 0 60px  rgb(253, 181, 47),
                0 0 80px  rgb(253, 181, 47),
                0 0 0 8px  rgb(253, 181, 47);
                
}
.glowing span:nth-child(4n + 1){
    animation: animate 5s alternate infinite;
}
.glowing span:nth-child(4n + 2){
    animation: animate-reverse 5s alternate infinite;
}
.glowing span:nth-child(4n + 3){
    animation: animate 10s alternate infinite;
}
.glowing span:nth-child(4n + 4){
    animation: animate-reverse 10s alternate infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-reverse{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
