    .fire {
        /* overflow: hidden; */
        position: absolute;
        width: 50vw;
        height: 60vh;
        top: 20%;
        left: 25%;
    }
  
  .fireworks {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    
  }
  .fireworks .firework {
    display: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 50px;
  }
  .fireworks .firework:before{
    content: "";
    display: block;
    border-radius: 5px;
    background-color: #ffffff;
    width: 4px;
    height: 0px;
    position:fixed;

    will-change: transform;
    transform: translateY(1000px);
    animation: fireworkstart 3s ease-out;
    overflow: hidden;  
  }
  .fireworks .firework .explosion {
    position: absolute;
    top: 0;
    width: 5px;
    height: 20px;
    opacity: 0;
    transform-origin: top center;
      will-change: transform;
    animation: explosion 0.7s linear 3s;
    animation-iteration-count: 3;
  }
  .fireworks .firework .explosion:nth-child(1) {
            transform: rotate(0deg);
  }
  .fireworks .firework .explosion:nth-child(2) {
            transform: rotate(90deg);
  }
  .fireworks .firework .explosion:nth-child(3) {
            transform: rotate(180deg);
  }
  .fireworks .firework .explosion:nth-child(4) {
            transform: rotate(-90deg);
  }
  .fireworks .firework .explosion:nth-child(5) {
            transform: rotate(45deg);
  }
  .fireworks .firework .explosion:nth-child(6) {
            transform: rotate(-45deg);
  }
  .fireworks .firework .explosion:nth-child(7) {
            transform: rotate(135deg);
  }
  .fireworks .firework .explosion:nth-child(8) {
            transform: rotate(225deg);
  }
  
  .fireworks .firework .explosion .spark{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      will-change: transform;
      animation: explosion2 0.7s ease-in-out 3s ;
      animation-iteration-count: 3;
  }
  
  
  .fireworks .firework .explosion .spark.red {
    background-color: #E91E63;
  }
  .fireworks .firework .explosion .spark.blue {
    background-color: skyblue;
  }
  .fireworks .firework .explosion .spark.green {
    background-color: limegreen;
  }
  .fireworks .firework .explosion .spark.yellow {
    background-color: yellow;
  }
  .fireworks .firework .explosion .spark.purple {
    background-color: purple;
  }
  @keyframes fireworkstart{
      0%{
          height: 0px;
          transform: translateY(1000px);
      }
      50%{
          height: 50px;
      }
      75%{
          height: 30px;
      }
      100%{
          height: 0;
          transform: translateY(0);
      }
  }
      
  @keyframes explosion{
      0%{
          height: 0px;
          opacity: 0;
      }
      50%{
          height: 25px;
          opacity: 1;
      }
      100%{
          height: 0px;
          opacity: 0;
      }
  }
  @keyframes explosion2{
      0%{
          transform: translateY(0px);
      }
      50%{
          transform: translateY(5px);
      }
      75%{
          transform: translateY(50px);
      }
      100%{
          transform: translateY(70px);
      }
  }