.modalposition {
  display: flex;
  justify-content: center;
}

:root {
  --clr-neonW: #fff89a;
  --clr-bg: hsl(323 21% 16%);
}

:root {
  --clr-neonW2: #ffce43;
  --clr-bg: hsl(323 21% 16%);
}

.listbg {
  position: absolute;
  height: 90vh;
  width: 43vw;
  background-color: black;
  color: #fff89a;
  opacity: 1;
  font-family: "Cafe24SsurroundAir";
  font-size: 20px;
  border: var(--clr-neonW) 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neonW), 0 0 0.5em 0 var(--clr-neonW);
}

.deletebtn {
  font-size: 1.2vw;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neonW);
  border: var(--clr-neonW) 0.125em solid;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neonW), 0 0 0.5em 0 var(--clr-neonW);

  position: relative;
  margin: 0 20px;
}

.deletebtn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neonW);
  opacity: 0;
  background-color: var(--clr-neonW);
  z-index: -1;
  transition: opacity 100ms linear;
}

.deletebtn:hover,
.deletebtn:focus {
  color: var(--clr-neonW);
  text-shadow: none;
}

.deletebtn:hover::before,
.deletebtn:focus::before {
  opacity: 1;
}
.deletebtn:hover::after,
.deletebtn:focus::after {
  opacity: 1;
}

/* 폰트 */
@font-face {
  font-family: "ROKAFSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
